<h1><%= @task.id ? 'Edit Task' : 'Create Task' %></h1>
<hr />
<%= form_for [@list, @task] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, autofocus: true %>
  <br />
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br />
  <%= f.label :completed %>
  <%= f.check_box :completed %>

  <%= f.submit %>
<% end %>