<h1><%= @board.id ? 'Edit Board' : 'Create Board' %></h1>
<hr />
<%= form_for [@board] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, autofocus: true %>
 
  <%= f.submit %>
<% end %>